.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  background-color: #000000;

  .distribution-logo {
    color: red;
    filter: invert(100%);
  }
}
